html
	head
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='font/quicksand.css')
	body
		div.logo
				img(src='img/logo.svg' width='48' height='48')
		div.main
			div.column
				table.rectangle-line
					tr
						td.rectangle.darkshade-100
						| <td class='rectangle-text'><b>Dark Shade 100%</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.darkshade-75
						| <td class='rectangle-text'><b>Dark Shade 75%</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.darkshade-50
						| <td class='rectangle-text'><b>Dark Shade 50%</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.darkshade-25
						| <td class='rectangle-text'><b>Dark Shade 25%</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.darkshade-5
						| <td class='rectangle-text'><b>Dark Shade 5%</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.purple
						| <td class='rectangle-text'><b>Purple</b><br>#111111</td>

				table.rectangle-line
					tr
						td.rectangle.green
						| <td class='rectangle-text'><b>Green</b><br>#111111</td>

			div.column
				table.text-line
					tr
						td.va-top.text-indent.title-pos.title-color
							h1 H1
						td.va-top 
							h1 This one is the sub-section or widget title

				table.text-line
					tr
						td.va-top.text-indent.title-pos.title-color
							h2 H2
						td.va-top 
							h2 Next one is the item title inside widgets
				table.text-line
					tr
						td.va-top.text-indent.title-pos.title-color
							h3 H3
						td.va-top 
							h3 This is a label or CTA text 

				table.text-line
					tr
						td.va-top.text-indent.title-pos.title-color
							a Body
						td.va-top 
							a This is the body text which is used for most of the design, like paragraphs, lists, etc.



